In [1]:
import pandas as pd 
import numpy as np 

import os, sys
if os.path.abspath('../') not in sys.path:
    sys.path.insert(0, os.path.abspath('../'))

In [2]:
forest1 = pd.read_excel('../clean.ipynb/data/vietnamforestata.xlsx', sheet_name='Subnational 1 tree cover loss')

In [3]:
forest1

,country,subnational1,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,...,tc_loss_ha_2013,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022
0,Vietnam,An Giang,0,352498,352498,352498,1847,125,43,74,...,60,69,70,264,253,130,45,16,55,78
1,Vietnam,An Giang,10,352498,48217,46639,1847,120,41,68,...,14,28,31,129,130,77,24,6,20,34
2,Vietnam,An Giang,15,352498,45309,39854,1847,120,41,68,...,13,26,30,120,121,74,23,6,19,33
3,Vietnam,An Giang,20,352498,42334,39088,1847,119,41,67,...,12,26,28,113,117,71,22,6,18,32
4,Vietnam,An Giang,25,352498,40944,36054,1847,119,40,67,...,12,23,27,106,109,68,21,5,17,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,Vietnam,Đồng Tháp,20,338848,37846,55653,3561,130,45,47,...,4,46,54,196,97,58,9,1,2,5
500,Vietnam,Đồng Tháp,25,338848,36299,51591,3561,130,45,47,...,4,43,51,170,79,46,6,1,2,5
501,Vietnam,Đồng Tháp,30,338848,33680,46654,3561,130,45,47,...,4,43,49,161,74,44,6,1,2,4
502,Vietnam,Đồng Tháp,50,338848,20605,30148,3561,127,40,41,...,3,27,32,76,36,25,4,1,1,1
503,Vietnam,Đồng Tháp,75,338848,8161,9434,3561,106,27,27,...,1,8,6,25,16,13,2,0,0,1

In [4]:
forest1 = forest1[['subnational1', 'tc_loss_ha_2015', 'tc_loss_ha_2016',
                    'tc_loss_ha_2017', 'tc_loss_ha_2018', 'tc_loss_ha_2019', 'tc_loss_ha_2020',
                    'tc_loss_ha_2021', 'tc_loss_ha_2022']]
## --> make prediction on 2022 dataset 
## so we need to get the econoic data from 2015 to 2022

In [5]:
# # group the dataset by province and average tc_loss_ha 
# forest1 = forest1.groupby('subnational1').sum().reset_index()
# forest1

In [6]:
forest1.columns

Index(['subnational1', 'tc_loss_ha_2015', 'tc_loss_ha_2016', 'tc_loss_ha_2017',
       'tc_loss_ha_2018', 'tc_loss_ha_2019', 'tc_loss_ha_2020',
       'tc_loss_ha_2021', 'tc_loss_ha_2022'],
      dtype='object')

In [7]:
forest1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subnational1     504 non-null    object
 1   tc_loss_ha_2015  504 non-null    int64
 2   tc_loss_ha_2016  504 non-null    int64
 3   tc_loss_ha_2017  504 non-null    int64
 4   tc_loss_ha_2018  504 non-null    int64
 5   tc_loss_ha_2019  504 non-null    int64
 6   tc_loss_ha_2020  504 non-null    int64
 7   tc_loss_ha_2021  504 non-null    int64
 8   tc_loss_ha_2022  504 non-null    int64
dtypes: int64(8), object(1)
memory usage: 35.6+ KB

In [8]:
selected_columns = forest1.loc[:, 'tc_loss_ha_2015':'tc_loss_ha_2022']
forest1['2001_2022_avg_tc_loss'] = selected_columns.mean(axis=1)
forest1

C:\Users\Admin\AppData\Local\Temp\ipykernel_18064\937719136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forest1['2001_2022_avg_tc_loss'] = selected_columns.mean(axis=1)

,subnational1,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,2001_2022_avg_tc_loss
0,An Giang,70,264,253,130,45,16,55,78,113.875
1,An Giang,31,129,130,77,24,6,20,34,56.375
2,An Giang,30,120,121,74,23,6,19,33,53.250
3,An Giang,28,113,117,71,22,6,18,32,50.875
4,An Giang,27,106,109,68,21,5,17,31,48.000
...,...,...,...,...,...,...,...,...,...,...
499,Đồng Tháp,54,196,97,58,9,1,2,5,52.750
500,Đồng Tháp,51,170,79,46,6,1,2,5,45.000
501,Đồng Tháp,49,161,74,44,6,1,2,4,42.625
502,Đồng Tháp,32,76,36,25,4,1,1,1,22.000
503,Đồng Tháp,6,25,16,13,2,0,0,1,7.875

In [9]:
#describe transpose the data
forest1.describe().T

,count,mean,std,min,25%,50%,75%,max
tc_loss_ha_2015,504.0,3494.373016,4981.282052,0.0,56.75,1584.000,5537.25000,39946.000
tc_loss_ha_2016,504.0,5642.601190,6974.846487,0.0,173.00,2769.500,8638.50000,44177.000
tc_loss_ha_2017,504.0,4630.099206,5471.987529,0.0,134.75,2762.000,8125.75000,34677.000
tc_loss_ha_2018,504.0,3645.500000,4396.386792,0.0,62.50,1941.000,6004.75000,24706.000
tc_loss_ha_2019,504.0,3530.878968,4384.914474,0.0,55.50,1919.000,5730.25000,24720.000
tc_loss_ha_2020,504.0,3373.626984,4161.705478,0.0,62.75,1802.000,5323.50000,25412.000
tc_loss_ha_2021,504.0,3197.208333,4204.973105,0.0,34.00,1513.500,4952.50000,23921.000
tc_loss_ha_2022,504.0,2747.418651,3691.690857,0.0,36.50,1480.500,3965.50000,24626.000
2001_2022_avg_tc_loss,504.0,3782.713294,4562.230357,0.0,87.25,1978.125,6196.53125,29007.375

In [10]:
demtinh = forest1['subnational1'].value_counts()

In [11]:
forest1.head()

,subnational1,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,2001_2022_avg_tc_loss
0,An Giang,70,264,253,130,45,16,55,78,113.875
1,An Giang,31,129,130,77,24,6,20,34,56.375
2,An Giang,30,120,121,74,23,6,19,33,53.250
3,An Giang,28,113,117,71,22,6,18,32,50.875
4,An Giang,27,106,109,68,21,5,17,31,48.000

In [12]:
forest1.describe().T

,count,mean,std,min,25%,50%,75%,max
tc_loss_ha_2015,504.0,3494.373016,4981.282052,0.0,56.75,1584.000,5537.25000,39946.000
tc_loss_ha_2016,504.0,5642.601190,6974.846487,0.0,173.00,2769.500,8638.50000,44177.000
tc_loss_ha_2017,504.0,4630.099206,5471.987529,0.0,134.75,2762.000,8125.75000,34677.000
tc_loss_ha_2018,504.0,3645.500000,4396.386792,0.0,62.50,1941.000,6004.75000,24706.000
tc_loss_ha_2019,504.0,3530.878968,4384.914474,0.0,55.50,1919.000,5730.25000,24720.000
tc_loss_ha_2020,504.0,3373.626984,4161.705478,0.0,62.75,1802.000,5323.50000,25412.000
tc_loss_ha_2021,504.0,3197.208333,4204.973105,0.0,34.00,1513.500,4952.50000,23921.000
tc_loss_ha_2022,504.0,2747.418651,3691.690857,0.0,36.50,1480.500,3965.50000,24626.000
2001_2022_avg_tc_loss,504.0,3782.713294,4562.230357,0.0,87.25,1978.125,6196.53125,29007.375

In [13]:
# group the dataset by province and total tc_loss_ha
forest1 = forest1.groupby('subnational1').sum().reset_index()

In [14]:
# extract the subnational1 column
provinces = forest1['subnational1']
# save the column to excel 
provinces.to_excel('provinces.xlsx', index=False)